<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
	 xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <!--  http://stackoverflow.com/questions/1942039/how-to-install-and-start-a-windows-service-using-wix -->
  <?include $(sys.CURRENTDIR)Config.wxi ?>
  
  <Fragment>
    <Component Id ="Service_Components" Directory="AppFolder" Guid ="{032CBA0E-D947-4068-AA64-AAF29EB0D9B7}">
	    <File Id='Konvolucio.TestExec.AutoIgnoreService.exe'  Source='$(var.AppDirectory)\Konvolucio.TestExec.AutoIgnoreService.exe' KeyPath='yes'/>
    <ServiceInstall
        Id="ServiceInstaller"
        Type="ownProcess"
        Name="AutoIgnoreService"
        DisplayName="Konvolucio TestExec.AutoIgnoreService"
        Description="TestExec.AutoIgnoreService V$(var.VersionNumber)"
        Start="auto"
        Account="LocalSystem" 
        ErrorControl="normal"
        Arguments=" /start AutoIgnoreService"
        Interactive="no" >
        <util:PermissionEx
            User="Everyone"
            GenericAll="yes"
            ServiceChangeConfig="yes"
            ServiceEnumerateDependents="yes"
            ChangePermission="yes"
            ServiceInterrogate="yes"
            ServicePauseContinue="yes"
            ServiceQueryConfig="yes"
            ServiceQueryStatus="yes"
            ServiceStart="yes"
            ServiceStop="yes">
          </util:PermissionEx>
        </ServiceInstall>
      
      <!-- Start Or Not -->
      
      <!-- /Start = "install"/ ez elindtja -->
      <ServiceControl Id="StartService"
                      Stop="both"
                      Remove="uninstall"
                      Name="AutoIgnoreService"
                      Wait="yes" />

    </Component>
  </Fragment>
</Wix>

